/* ==========================================================================
   -- Home
   ========================================================================== */

    .hidden
        display none

    #list_person.ng-enter
        transition 0.5s linear all
        transform translateX(-100%)
        opacity 0

    #list_person.ng-enter.ng-enter-active
        transform translateX(0)
        opacity 1

    #list_person.ng-leave
        transition 0.5s linear all
        transform translateX(0)
        opacity 1

    #list_person.ng-leave.ng-leave-active
        transform translateX(-100%)
        opacity 0
